flows/ProgramEnrollmentFlowV1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Enroll patients in care programs and record their consent to program participation.</description>
    <interviewLabel>$Label.CareProgramEnrollment.ProgramEnrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Enrollment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ReviewProductsAndProviders</name>
        <label>Review Products and Providers</label>
        <locationX>600</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProductsAndProvidersReview</name>
            <extensionName>healthcloud:productsProvidersReview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>programId</name>
                <value>
                    <elementReference>careProgramId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>patientId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedProviders</name>
                <value>
                    <elementReference>selectedProviders</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedProducts</name>
                <value>
                    <elementReference>careProgramProductList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFooter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>enrolleeId</assignToReference>
                <name>enrolleeId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectCareProgram</name>
        <label>Select Care Program</label>
        <locationX>150</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectProductServices</targetReference>
        </connector>
        <fields>
            <name>CareProgramSelector</name>
            <extensionName>healthcloud:careProgramSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>careProgramId</name>
                <value>
                    <elementReference>careProgramId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFooter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>careProgramId</assignToReference>
                <name>careProgramId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectProductServices</name>
        <label>Select Products and Services</label>
        <locationX>300</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectProviders</targetReference>
        </connector>
        <fields>
            <name>CareProgramProductSelection</name>
            <extensionName>healthcloud:careProgramProductSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>careProgramId</name>
                <value>
                    <elementReference>careProgramId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedProducts</name>
                <value>
                    <elementReference>careProgramProductList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFooter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>careProgramProductList</assignToReference>
                <name>selectedProducts</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectProviders</name>
        <label>Select Providers</label>
        <locationX>450</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ReviewProductsAndProviders</targetReference>
        </connector>
        <fields>
            <name>CareProgramProviderSelection</name>
            <extensionName>healthcloud:careProgramProviderSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedProducts</name>
                <value>
                    <elementReference>careProgramProductList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedProviders</name>
                <value>
                    <elementReference>selectedProviders</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFooter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedProviders</assignToReference>
                <name>selectedProviders</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SelectCareProgram</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>careProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>careProgramProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgramProduct</objectType>
    </variables>
    <variables>
        <name>enrolleeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProviders</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
